*.[oa]
*.bak
*.cpp.*
*.h.*
*.log
*.out
*.patch
*.tar.bz2
*.tar.gz
*~
.*.swp
.deps
Makefile
Makefile.in
aclocal.m4
atconfig
atlocal
autom4te.cache
callgrind.out.*
config.guess
config.h
config.h.in
config.status
config.sub
configure
configure.scan
depcomp
install-sh
massif.out.*
missing
stamp-h1
luadoc/
