<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>pepper - note</title>

<link rel="icon" href="../../favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="../../style.css" type="text/css" />

<link rel="stylesheet" href="../../local.css" type="text/css" />





</head>
<body>

<div class="page">

<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">

<a href="../../">pepper</a>/ 

<a href="../">templates</a>/ 

</span>
<span class="title">
note

</span>
</span>

</div>





</div>



<div id="pagebody">

<div id="content">
<div class="notebox">
<TMPL_VAR text>
</div>


<p><TMPL_UNLESS text>
Use this template to insert a note into a page. The note will be styled to
float to the right of other text on the page. This template has one
parameter:</p>

<ul>
<li>`text` - the text to display in the note
</ul>


<p></TMPL_UNLESS></p>

</div>





</div>

<div id="footer" class="pagefooter">

<div id="pageinfo">









<div class="pagedate">
Last edited <span class="date">September 05, 2013, 00:10 CEST</span>
<!-- Created <span class="date">September 05, 2013, 00:10 CEST</span> -->
</div>

</div>


<!-- from pepper -->
</div>

</div>

</body>
</html>
