<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>pepper - templates</title>

<link rel="icon" href="../favicon.ico" type="image/x-icon" />

<link rel="stylesheet" href="../style.css" type="text/css" />

<link rel="stylesheet" href="../local.css" type="text/css" />




<meta name="robots" content="noindex, follow" />
</head>
<body>

<div class="page">

<div class="pageheader">
<div class="header">
<span>
<span class="parentlinks">

<a href="../">pepper</a>/ 

</span>
<span class="title">
templates

</span>
</span>

</div>





</div>



<div id="pagebody">

<div id="content">
<p><a href="../ikiwiki/">Ikiwiki</a> uses many templates for many purposes. By editing its templates,
you can fully customise its appearance, and avoid duplicate content.</p>

<p>Ikiwiki uses the HTML::Template module as its template engine. This
supports things like conditionals and loops in templates and is pretty
easy to learn. All you really need to know to modify templates is this:</p>

<ul>
<li>To insert the value of a template variable, use <code>&lt;TMPL_VAR variable&gt;</code>.</li>
<li>To make a block of text conditional on a variable being set use
<code>&lt;TMPL_IF variable&gt;text&lt;/TMPL_IF&gt;</code>.</li>
<li>To use one block of text if a variable is set and a second if it's not,
use <code>&lt;TMPL_IF variable&gt;text&lt;TMPL_ELSE&gt;other text&lt;/TMPL_IF&gt;</code></li>
</ul>


<h2>template files</h2>

<p>Template files are unlike template pages in that they have the extension
<code>.tmpl</code>. Template files are used extensively by Ikiwiki to generate html.
They can contain html that would not normally be allowed on a wiki page.</p>

<p>Template files are located in <code>/usr/share/ikiwiki/templates</code> by default;
the <code>templatedir</code> setting can be used to make another directory be
searched first. Customised template files can also be placed inside the
"templates/" directory in your wiki's source -- files placed there override
ones in the <code>templatedir</code>.</p>

<p>Here is a full list of the template files used:</p>

<ul>
<li><p><code>page.tmpl</code> - Used for displaying all regular wiki pages. This is the
key template to customise to change the look and feel of Ikiwiki.</p></li>
<li><p><code>rsspage.tmpl</code> - Used for generating rss feeds for blogs.</p></li>
<li><code>rssitem.tmpl</code> - Used for generating individual items on rss feeds.</li>
<li><code>atompage.tmpl</code> - Used for generating atom feeds for blogs.</li>
<li><code>atomitem.tmpl</code> - Used for generating individual items on atom feeds.</li>
<li><code>inlinepage.tmpl</code> - Used for displaying a post in a blog.</li>
<li><code>archivepage.tmpl</code> - Used for listing a page in a blog archive page.</li>
<li><code>titlepage.tmpl</code> - Used for listing a page by title in a blog archive page.</li>
<li><code>microblog.tmpl</code> - Used for showing a microblogging post inline.</li>
<li><code>blogpost.tmpl</code> - Used for a form to add a post to a blog (and rss/atom links)</li>
<li><code>feedlink.tmpl</code> - Used to add rss/atom links if <code>blogpost.tmpl</code> is not used.</li>
<li><code>aggregatepost.tmpl</code> - Used by the aggregate plugin to create
a page for a post.</li>
<li><code>searchform.tmpl</code>, <code>googleform.tmpl</code> - Used by the search plugin
and google plugin to add search forms to wiki pages.</li>
<li><code>searchquery.tmpl</code> - This is a Omega template, used by the
search plugin.</li>
<li><code>comment.tmpl</code> - Used by the comments plugin to display a comment.</li>
<li><code>change.tmpl</code> - Used to create a page describing a change made to the wiki.</li>
<li><code>recentchanges.tmpl</code> - Used for listing a change on the RecentChanges page.</li>
<li><code>autoindex.tmpl</code> - Filled in by the autoindex plugin to make index pages.</li>
<li><code>autotag.tmpl</code> - Filled in by the tag plugin to make tag pages.</li>
<li><code>calendarmonth.tmpl</code>, <code>calendaryear.tmpl</code> - Used by ikiwiki-calendar to
make calendar archive pages.</li>
<li><code>trails.tmpl</code> - Used by the trail plugin to generate links on each page
that is a member of a trail.</li>
<li><code>notifyemail.tmpl</code> - Used by the notifymail plugin to generate mails about
changed pages.</li>
<li><code>editpage.tmpl</code>, <code>editconflict.tmpl</code>, <code>editcreationconflict.tmpl</code>,
<code>editfailedsave.tmpl</code>, <code>editpagegone.tmpl</code>, <code>pocreatepage.tmpl</code>,
<code>editcomment.tmpl</code> <code>commentmoderation.tmpl</code>, <code>renamesummary.tmpl</code>,
<code>passwordmail.tmpl</code>, <code>openid-selector.tmpl</code>, <code>revert.tmpl</code> - Parts of ikiwiki's user
interface; do not normally need to be customised.</li>
</ul>


</div>





</div>

<div id="footer" class="pagefooter">

<div id="pageinfo">




<div id="backlinks">
Links:

<a href="../ikiwiki/">ikiwiki</a>

<a href="../ikiwiki/formatting/">ikiwiki/formatting</a>


</div>






<div class="pagedate">
Last edited <span class="date">September 05, 2013, 00:10 CEST</span>
<!-- Created <span class="date">September 05, 2013, 00:10 CEST</span> -->
</div>

</div>


<!-- from pepper -->
</div>

</div>

</body>
</html>
